/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #0a1120;
  color: #ffffff;
}

/* Voltar Pagina inicial*/

.back-link {
  color: #3b82f6;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  transform: translateY(-50px);
  margin-top: 100px;
  padding: 0 180px;
}

/*fundo interativo */
#interactive-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.contact-page,
.navbar {
  position: relative;
  z-index: 1;
}


/* navbar */

.navbar {
  max-width: 2000px;
  padding: 1px 30px;
  height: 600px;
  position: relative;
  display: flex;
  margin-bottom: 15%;


  background: #0c1638a6;
  -webkit-backdrop-filter: blur(18px);
  ;
  backdrop-filter: blur(18px);
  border-radius: 18px;
  box-shadow: #cbd5f533 0px 4px 30px;
  /* 👇 CONTORNO */
  border: 1px solid rgba(255, 255, 255, 0.08);
}


/* Página */
.contact-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 60px;
}

/* Header */
.contact-header {
  text-align: center;
  margin-bottom: 150%;
  margin-top: 15%;
}

.contact-eyebrow {
  font-size: 12px;
  letter-spacing: 0.2em;
  color: #60a5fa;
  display: block;
  margin-bottom: 16px;
}

.contact-title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 16px;
  margin-top: 5%;
}

.gradient-text {
  background: linear-gradient(90deg, #3b82f6, #a855f7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-subtitle {
  color: #94a3b8;
  font-size: 16px;
  margin-bottom: 20px;
}

/* Cards */
.contact-links {
  width: 100%;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}

.contact-card {
  width: 100%;
  display: flex;
  text-align: justify;
  align-items: center;
  gap: 10px;
  /* adiciona espaço entre ícone e texto */

  padding: 18px 50px;
  border-radius: 14px;
  text-decoration: none;

  background: #0d121f;
  border: 1px solid #1e293b;

  transition: transform 0.25s ease, box-shadow 0.25s ease;
}


.contact-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 30px #1d4ed8;
}

/* Ícone */
.icon-box {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  background: #020617;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #60a5fa;
  font-size: 18px;
}

/* Textos */
.text-group {
  display: flex;
  flex-direction: column;
}

.text-group strong {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
}

.text-group span {
  font-size: 13px;
  color: #94a3b8;
}

/* Responsivo */
@media (min-width: 320px) and (max-width: 767px) {

   body{
    transform: translateY(-10px);
  }

  .navbar {
    padding: 10px;
    transform: translateY(-150px); /* espaçamento entre a escrita voltar para pagina inicial */
  }

  .contact-title {
    font-size: 2.2rem;
  }

  .back-link {

    margin-bottom: 80px;
    margin-left: 10px;
    padding: 10px 12px;
    text-align: center;
    font-size: 18px;
  }


  .text-group span {
    font-size: 12px;
    
  }

}

@media (min-width: 768px) and (max-width: 1023px) {

  body{
    margin-top: 150px;
  }

  .navbar {
    padding: 10px;
    margin-bottom: 230px;
  }

  .contact-title {
    font-size: 2.2rem;
  }

  .contact-page {

    transform: translateY(-190px);
  }

  .back-link {

    transform: translateY(-80px);
    margin-bottom: 80px;
    text-align: center;
    font-size: 18px;
    padding: 0 20px;
  }
}